

<div class="card">
  <h1>Stupid Coaching</h1>
  <p>pregunta a tu coach lo que quieras:</p>
  <form action="answer" class = "formulary">
    <input type="text" name="pregunta" class = "celda">
    <input type="submit" value="Ask" class = "btn">
  </form>
</div>
